[submodule "wiki"]
	path = wiki
	url = https://github.com/tinyhumansai/tinyagents.wiki.git
[submodule "vendor/tinytools"]
	path = vendor/tinytools
	url = https://github.com/tinyhumansai/tinytools.git
	branch = main
